<mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
            <mat-card-title>
                <mat-icon>people</mat-icon>
                Alumnos
            </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Lista de usuarios
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button (click)="onNavigate()">
                    Ir
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
